.Auth {
    background-image: linear-gradient(90deg, rgb(18, 131, 134) 0%, rgb(80, 134, 125) 100%);   
    color: #fff;
}

.Auth form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: #ebebeb;
    color: #000;
}